@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.login {
  @include flex-center;

  min-width: 100vw;
  min-height: 100vh;

  &__container {
    max-width: 70%;
    padding: .93rem 1.25rem;
    background-color: rgba($color: #000000, $alpha: .5)
  }

  &__heading {
    @include heading;
    @include heading-primary;
  }

  &__form {
    @include form;
  }

  &__form-control {
    @include form-control;
  }

  &__label {
    @include form-label;
  }

  &__input {
    @include form-input;
  }

  &__validation-error {
    @include form-validation-error;
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;

    margin-bottom: .62rem;
  }
}