@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';

%header-item-size {
  width: 3.12rem;
  height: 3.12rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: .93rem .93rem;
  background-color: aliceblue;

  &__branding {
    @extend %header-item-size;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__mobile {
    @include flex-center;
  }

  &__mobile-toggle {
    @include flex-center;
    @include button;
    @extend %header-item-size;
  }

  &__icon {
    font-size: 1.87rem;
  }

  &__nav {
    flex: 1 1 100%;
    overflow: hidden;
    height: 20.12rem;

    transition: height 1s ease;

    &--hidden {
      height: 0;
    }
  }

  &__list {
    @include list-reset;
    margin-top: .93rem;

    display: flex;
    flex-direction: column;

    list-style: none;
  }

  &__list-item {
    @include flex-center;

    &:not(:last-child) {
      margin-bottom: .62rem;
    }
  }

  &__link {
    @include button;
    @include anchor-reset;
    color: black;
    padding: .62rem .93rem;
    width: 100%;

    transition: color .3s ease, background-color .3s ease;

    &--active {
      background-color: bisque;
    }
  }

  &__button {
    @include button;
    background-color: transparent;
  }
}