@import '../../index.scss';

@mixin button {
  font-family: $font-family-primary;
  font-size: 1rem;
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;

  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

@mixin button-md {
  padding: .62rem .93rem;
}

@mixin button-primary {
  text-transform: uppercase;
  background-color: orangered;
  color: white;
  border-color: orangered;

  &:hover {
    background-color: white;
    color: orangered;
    border-color: orangered;
  }
}