@import '../../index.scss';

@mixin form {
  display: flex;
  flex-direction: column;
}

@mixin form-control {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: .93rem;

  &:last-of-type {
    margin-bottom: 1.56rem;
  }
}

@mixin form-input {
  flex: 1 1 100%;
  background-color: #eee;
  color: #333;

  border: 1px solid #fff;
  box-shadow: none;
  padding: .62rem .93rem;

  font-size: 1rem;
  font-family: $font-family-primary;

  transition: border-color .3s ease;

  &:focus {
  }

  &--invalid {
    border-color: red;
  }
}

@mixin form-label {
  flex: 1 1 100%;
  margin-bottom: 0.62rem;
  font-size: 1rem;
}

@mixin form-validation-error {
  margin: .31rem 0 0;
  font-size: .87rem;
  color: red;
}