@import '../../index.scss';

@mixin heading {
  margin: 0;
  text-align: center;
}

@mixin heading-primary {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 1.56rem;
}

@mixin anchor-reset {
  text-align: center;
  text-decoration: none;
}